@keyframes rotateIn {
	0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 5deg);
    transform: translate3d(0, 0, 5deg);
    opacity: 1;
	}
  50% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 5, -5deg);
    transform: rotate3d(0, 0, 5, -5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
	}
}
.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

figure.caption-border, #nomination .nav-link.active img, #nomination .nav-link:hover {
	animation: rotateIn;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}
figure.caption-border:hover {
	animation: none;
}

@keyframes shake {
  0% {
		-webkit-transform: translateX(0px); 
    transform: translateX(0px);    
	}
	50% {
		-webkit-transform: translateX(-10px); 
    transform: translateX(-10px);    
	}
	100% {
		-webkit-transform: translateX(0px); 
    transform: translateX(0px);    
  }
}

.header-img2 {
	animation: shake;
	animation-duration: 5s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

@keyframes rotateOut {
	0% {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
	}
  50% {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: rotate3d(0, 0, 5, 5deg);
    transform: rotate3d(0, 0, 5, 5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
	}
}
.rotateOut {
  -webkit-animation-name: rotateOut;
  animation-name: rotateOut;
}

.description-img3, .jury-img2, .logo-img1 {
	animation: rotateOut;
	animation-duration: 6s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}


@-webkit-keyframes pulse {
  0% {
		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
			-webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
			box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
			-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
			box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.map-btn, .video-play {
	animation: pulse;
	animation-duration: 4s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

@keyframes zoomIn {
  0% {
    opacity: 1;
    transform: scale3d(0.98, 0.98, 0.98);
  }

  50% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  100% {
    transform: scale3d(0.98, 0.98, 0.98);
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}
.logo-container {
  animation: zoomIn;
	animation-duration: 4s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.jackInTheBox {
  animation-name: jackInTheBox;
}

.description-img4 {
  animation-name: jackInTheBox;
  animation-duration: 3s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}
.description-img5 {
  animation-name: jackInTheBox;
  animation-duration: 3s;
	animation-delay: 3s;
	animation-iteration-count: infinite;
}
.description-img6 {
  animation-name: jackInTheBox;
  animation-duration: 4s;
	animation-delay: 4s;
	animation-iteration-count: infinite;
}
