@keyframes rotateIn {
	0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
	}
  50% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 5, -10deg);
    transform: rotate3d(0, 0, 5, -10deg);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
	}
}
.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

figure.caption-border, .nav-link.active img, .nav-link:hover {
	animation: rotateIn;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}
figure.caption-border:hover {animation-play-state: paused;}

@keyframes shake {
  0% {
		-webkit-transform: translateX(0px); 
    transform: translateX(0px);    
	}
	50% {
		-webkit-transform: translateX(10px); 
    transform: translateX(10px);    
	}
	100% {
		-webkit-transform: translateX(0px); 
    transform: translateX(0px);    
  }
}

.header-img2 {
	animation: shake;
	animation-duration: 5s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

@keyframes rotateOut {
	0% {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
	}
  50% {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: rotate3d(0, 0, 5, 5deg);
    transform: rotate3d(0, 0, 5, 5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
	}
}
.rotateOut {
  -webkit-animation-name: rotateOut;
  animation-name: rotateOut;
}

.description-img3, .jury-img2 {
	animation: rotateOut;
	animation-duration: 6s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  0% {
		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
			-webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
			box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
			-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
			box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.map-btn, .video-play {
	animation: pulse;
	animation-duration: 4s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

@keyframes zoomInLeft {
  0% {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  60% {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: translate3d(0, 0, 5);
    transform: translate3d(0, 0, 5);
    opacity: 1;
  }
}

.zoomInLeft {
  animation-name: zoomInLeft;
}

.logo-container {
	animation: zoomInLeft;
	animation-duration: 4s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}